body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

form {
    position: fixed;
    padding: 50px !important;
    top: 90px;
    right: 10px !important;
    transition: 350ms;
    display: none;
    height: 0;
}